﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h>Selamat datang di Home ASP.NET MVC</h> 
    </div>
</body>
</html>
