﻿@{
    Layout = null;
}
@model ASP.EMPTY.MVC.Models.visitor
<!--kita akan memanggail model yang ada di project =asp.empty.mvc,pada folder = models dan nama model= visitor-->
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LATIHAN ASP.NET.MVC.EMPT</title>
    <!--
        INI DIBUAT DENGAN CARA KLIK KANAN FOLDER /VIEWS/HOME ->ADD NEW ITEM -> MVC->RAZOR 5 (PALING ATAS)
        defuatnya masih pada kosong kita akan coba isi title dan divisi-->
</head>
<body>
    <div>
    <h1>HAI SELAMAT DATANG DI WEB MVC KU</h1>
    </div>
    <div>
        <!--untuk memanggil data di model kita harus menggunakan using html-->
        @using (Html.BeginForm())
        {
            <p>
                @Html.LabelFor(m=>m.NAMA)
                @Html.TextBoxFor(m=>m.NAMA)    
            </p>
            <p>
                @Html.LabelFor(m=>m.ALAMAT)
                @Html.TextBoxFor(m=>m.ALAMAT)

            </p>
            <p>
                @ViewBag.Pesan <!--ini adalah label dengan nama pesan-->
            </p>
            <p>
                <input type="submit" value="kirim" /> 
                <!--ini tidak ada di model jadi html biasa 
                dan proses klik button akan di olah di controller
                 nama contrllernya homecontroller sesuai tempat view di buat   -->
            </p>


        }
    </div>
</body>
</html>
