﻿@model Pegawai.Web.Models.Karyawan

@{
    ViewBag.Title = "Management Karyawan";
}


<div class="row-fluid sortable">

    <div class="box span12">

        <div class="box-header" data-original-title>
            <h2>
                <i class="halflings-icon user"></i><span class="break"></span><i class="halflings-icon wrench"></i>
                @Html.ActionLink("Kembali", "Index")
            </h2>
            <div class="box-icon">
                <a href="#" class="btn-setting">
                    <i class="halflings-icon wrench"></i>
                </a>
                <a href="#" class="btn-minimize">
                    <i class="halflings-icon chevron-up"></i>
                </a>
                <a href="#" class="btn-close">
                    <i class="halflings-icon remove"></i>
                </a>
            </div>
        </div>

        <div class="box-content">
            <!-- <table class="table table-striped table-boardered bootstrap-datatable datatable">-->
            @using (Html.BeginForm("Details", "Karyawans", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <fieldset>
                    @Html.AntiForgeryToken()
                    <h3>Details</h3>
                                        
                    <div class="control-group">
                        @Html.LabelFor(model => model.Nama, htmlAttributes: new { @class = "control-label" })
                        <div class="controls">
                            <span class="input-xlarge uneditable-input">
                                @Html.DisplayFor(model => model.Nama)
                            </span>
                        </div>
                    </div>

                    <div class="control-group">
                        @Html.LabelFor(model => model.Alamat, htmlAttributes: new { @class = "control-label" })
                        <div class="controls">
                            <span class="input-xlarge uneditable-input">
                                @Html.DisplayFor(model => model.Alamat)
                            </span>
                        </div>
                    </div>

                    <div class="control-group">
                        @Html.LabelFor(model => model.TanggalLahir, htmlAttributes: new { @class = "control-label" })
                        <div class="controls">
                            <span class="input-xlarge uneditable-input">
                                @Html.DisplayFor(model => model.TanggalLahir)
                            </span>
                        </div>
                    </div>

                    <div class="control-group">
                        @Html.LabelFor(model => model.Divisi.NamaDivisi, htmlAttributes: new { @class = "control-label" })
                        <div class="controls">
                            <span class="input-xlarge uneditable-input">
                                @Html.DisplayFor(model => model.Divisi.NamaDivisi)
                            </span>
                        </div>
                    </div>
                    
                    <div class="form-actions">
                        <button class="btn btn-primary">
                            @Html.ActionLink("Edit", "Edit", new { id = Model.NIP })
                        </button>
                    </div>
                </fieldset>
            }

            <!--sampai sini-->

        </div>
    </div>
</div>
@*
    @{
        ViewBag.Title = "Details";
    }

    <h2>Details</h2>

    <div>
        <h4>Karyawan</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nama)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nama)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Alamat)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Alamat)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TanggalLahir)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TanggalLahir)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Divisi.NamaDivisi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Divisi.NamaDivisi)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.NIP }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

*@
