﻿@model IEnumerable<Pegawai.Web.Models.Karyawan>

@{
    ViewBag.Title = "Management Karyawan";
}
<h2>Index</h2>
<!--
   <p> @Html.ActionLink("Create New", "Create")</p>-->
<!--dibawah ini di tambah code supaya tampilan menarik-->
<div class="row-fluid sortable">

    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2>
                <i class="halflings-icon user"></i><span class="break"></span><i class="halflings-icon plus"></i>
                @Html.ActionLink("Tambah Data", "Create")
            </h2>

            <div class="box-icon">
                <a href="#" class="btn-setting">
                    <i class="halflings-icon wrench"></i>
                </a>

                <a href="#" class="btn-minimize">
                    <i class="halflings-icon chevron-up"></i>
                </a>

                <a href="#" class="btn-close">
                    <i class="halflings-icon remove"></i>
                </a>
            </div>

        </div>

        <div class="box-content">
            <!-- <table class="table table-striped table-boardered bootstrap-datatable datatable">-->
            <table class="table table-striped">
                <!-- sampai sini      <table class="table">-->
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nama)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Alamat)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TanggalLahir)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Divisi.NamaDivisi)
                    </th>

                    <th>Pilihan <!--di tambah pilihan--></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nama)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Alamat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TanggalLahir)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Divisi.NamaDivisi)
                        </td>
                        <td>

                            <a class="btn btn-info"
                               href="@Url.Action("Edit", new { id = item.NIP })">
                                <i class="halflings-icon edit"></i>
                            </a>

                            <a class="btn btn-success"
                               href="@Url.Action("Details", new { id = item.NIP })">
                                <i class="halflings-icon white zoom-in"></i>
                            </a>

                            <a class="btn btn-danger"
                               href="@Url.Action("Delete", new { id = item.NIP })">
                                <i class="halflings-icon white trash"></i>
                            </a>
                            <!--
                                code default di ganti dengan code yang di atas menggunakan html

                                @Html.ActionLink("Edit", "Edit", new { id = item.DivisiID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.DivisiID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.DivisiID })
                            -->

                        </td>
                    </tr>
                }

            </table>
            <!--sampai sini-->

        </div>
    </div>
</div>

@*@{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alamat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TanggalLahir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Divisi.NamaDivisi)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alamat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TanggalLahir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Divisi.NamaDivisi)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.NIP }) |
                @Html.ActionLink("Details", "Details", new { id=item.NIP }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.NIP })
            </td>
        </tr>
    }

    </table>

*@
