﻿@model Pegawai.Web.Models.UserFormViewModel

@{
    ViewBag.Title = "Manajemen User";
}
@*@ViewBag.NamaUser<br />
    @ViewBag.Error*@
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon align-justify"></i><span class="break"></span><i class="halflings-icon th-list"></i>@Html.ActionLink("kembali", "Index")</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
            </div>
        </div>
        <div class="box-content">
            @using (Html.BeginForm("Create", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <fieldset>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="control-group">
                        @Html.LabelFor(m => m.UserName, htmlAttributes: new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(m => m.UserName, new { htmlAttributes = new { @class = "span6 typeahead" } })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.NIP, htmlAttributes: new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(m => m.NIP, new { htmlAttributes = new { @class = "span6 typeahead" } })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Email, new { htmlAttributes = new { @class = "span6 typeahead" } })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.Roles, htmlAttributes: new { @class = "control-label" })
                        <div class="controls">
                            @Html.DropDownListFor(m => m.Role, Model.Roles, "Pilih Role", htmlAttributes: new { @data_rel = "chosen" })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.Alamat, htmlAttributes: new { @class = "control-label" })
                        <div class="controls">
                            @Html.TextAreaFor(m => m.Alamat, new { htmlAttributes = new { @class = "span6 typeahead" } })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "control-label" })
                        <div class="controls">
                            @Html.PasswordFor(m => m.Password, new { htmlAttributes = new { @class = "span6 typeahead" } })
                        </div>
                    </div>
                    <div class="control-group">
                        @Html.LabelFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
                        <div class="controls">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { htmlAttributes = new { @class = "span6 typeahead" } })
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>
