﻿@model Pegawai.Web.Models.UserViewModel

@{
    ViewBag.Title = "Manajemen User";
}

<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon align-justify"></i><span class="break"></span><i class="halflings-icon edit"></i>@Html.ActionLink("edit", "Edit", new { id = Model.UserName }) | <i class="halflings-icon th-list"></i>@Html.ActionLink("kembali", "Index")</h2>
            <div class="box-icon">
                <a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
                <a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
                <a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
            </div>
        </div>
        @ViewBag.Username
        <div class="box-content">
            @using (Html.BeginForm("Delete", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <fieldset>
                    <div class="control-group">
                        <label class="control-label">UserName</label>
                        <div class="controls">
                            <span class="input-xlarge uneditable-input">@Html.DisplayFor(model => model.UserName)</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">NIP</label>
                        <div class="controls">
                            <span class="input-xlarge uneditable-input">@Html.DisplayFor(model => model.NIP)</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Email</label>
                        <div class="controls">
                            <span class="input-xlarge uneditable-input">@Html.DisplayFor(model => model.Email)</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Role</label>
                        <div class="controls">
                            <span class="input-xlarge uneditable-input">@Html.DisplayFor(model => model.Roles)</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Alamat</label>
                        <div class="controls">
                            <span class="input-xlarge uneditable-input">@Html.DisplayFor(model => model.Alamat)</span>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Hapus</button>
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>
