﻿@using Pegawai.Web.Models
@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>Login - Pengelolaan Pegawai</title>
    <meta name="description" content="Login - Pengelolaan Pegawai">
    <meta name="author" content="Dennis Ji">
    <meta name="keyword" content="Pengelolaan Pegawai">
    <!-- end: Meta -->
    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->
    <!-- start: CSS -->
    <link id="bootstrap-style" href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link id="base-style" href="~/css/style.css" rel="stylesheet">
    <link id="base-style-responsive" href="~/css/style-responsive.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
    <!-- end: CSS -->
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <link id="ie-style" href="~/css/ie.css" rel="stylesheet">
    <![endif]-->
    <!--[if IE 9]>
        <link id="ie9style" href="~/css/ie9.css" rel="stylesheet">
    <![endif]-->
    <!-- start: Favicon -->
    <link rel="shortcut icon" href="~/img/favicon.ico">
    <!-- end: Favicon -->

    <style type="text/css">
        body {
            background: url(../../img/bg-login.jpg) !important;
        }
    </style>



</head>
<body>
    <div class="container-fluid-full">
        <div class="row-fluid">

            <div class="row-fluid">
                <div class="login-box">
                    <div class="icons">
                    </div>
                    <h2>Sistem Pengelolaan Pegawai</h2>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <fieldset>
                            
                            <div></div>
                            
                            <div class="input-prepend" title="Username">
                            @Html.Label("Nama :")    
                                <span class="add-on"><i class="halflings-icon user"></i></span>
                                
                                @Html.TextBoxFor(m => m.Username, new { @class = "input-large span10" })
                                @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                            </div>
                            <div class="clearfix"></div>
                            <div class="input-prepend" title="Password">
                                @Html.Label("Password :")
                                <span class="add-on"><i class="halflings-icon lock"></i></span>
                                
                                @Html.PasswordFor(m => m.Password, new { @class = "input-large span10" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="clearfix"></div>
                                                  @*  <label class="remember" for="remember">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
        </label>
                              @Html.ActionLink("Register", "Register")
                                    <button 
                                                *@    

                            
                            <label class="remember" for="remember">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </label>
                                                      
                            <div class="button-login">
                                 <button type="submit" class="btn btn-primary">Login</button>
                             <a class="btn btn-danger" href="@Url.Action("Register")">Registrasi</a>
                               
                            </div>
                            <div class="clearfix"></div>
                            
                        </fieldset>
                    }
                    <hr>
                </div><!--/span-->
            </div><!--/row-->

        </div><!--/.fluid-container-->

    </div><!--/fluid-row-->
    <!-- start: JavaScript-->
    <script src="~/js/jquery-1.9.1.min.js"></script>
    <script src="~/js/jquery-migrate-1.0.0.min.js"></script>

    <script src="~/js/jquery-ui-1.10.0.custom.min.js"></script>

    <script src="~/js/jquery.ui.touch-punch.js"></script>

    <script src="~/js/modernizr.js"></script>

    <script src="~/js/bootstrap.min.js"></script>

    <script src="~/js/jquery.cookie.js"></script>

    <script src='~/js/fullcalendar.min.js'></script>

    <script src='~/js/jquery.dataTables.min.js'></script>
    <script src="~/js/excanvas.js"></script>
    <script src="~/js/jquery.flot.js"></script>
    <script src="~/js/jquery.flot.pie.js"></script>
    <script src="~/js/jquery.flot.stack.js"></script>
    <script src="~/js/jquery.flot.resize.min.js"></script>

    <script src="~/js/jquery.chosen.min.js"></script>

    <script src="~/js/jquery.uniform.min.js"></script>

    <script src="~/js/jquery.cleditor.min.js"></script>

    <script src="~/js/jquery.noty.js"></script>

    <script src="~/js/jquery.elfinder.min.js"></script>

    <script src="~/js/jquery.raty.min.js"></script>

    <script src="~/js/jquery.iphone.toggle.js"></script>

    <script src="~/js/jquery.uploadify-3.1.min.js"></script>

    <script src="~/js/jquery.gritter.min.js"></script>

    <script src="~/js/jquery.imagesloaded.js"></script>

    <script src="~/js/jquery.masonry.min.js"></script>

    <script src="~/js/jquery.knob.modified.js"></script>

    <script src="~/js/jquery.sparkline.min.js"></script>

    <script src="~/js/counter.js"></script>

    <script src="~/js/retina.js"></script>
    <script src="~/js/custom.js"></script>
    <!-- end: JavaScript-->

</body>
</html>
