﻿@model Pegawai.Web.Models.RegisterViewModel





<div class="box-content">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
        <fieldset>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="control-group">
                @Html.LabelFor(m => m.UserName, htmlAttributes: new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.UserName, new { htmlAttributes = new { @class = "span6 typeahead" } })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.NIP, htmlAttributes: new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.NIP, new { htmlAttributes = new { @class = "span6 typeahead" } })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "control-label" })
                <div class="controls">
                    @Html.TextBoxFor(m => m.Email, new { htmlAttributes = new { @class = "span6 typeahead" } })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.Alamat, htmlAttributes: new { @class = "control-label" })
                <div class="controls">
                    @Html.TextAreaFor(m => m.Alamat, new { htmlAttributes = new { @class = "span6 typeahead" } })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.Password, htmlAttributes: new { @class = "control-label" })
                <div class="controls">
                    @Html.PasswordFor(m => m.Password, new { htmlAttributes = new { @class = "span6 typeahead" } })
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
                <div class="controls">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { htmlAttributes = new { @class = "span6 typeahead" } })
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </fieldset>
    }
</div>