﻿@model Pegawai.Web.Models.Divisi

@{
    ViewBag.Title = "Management Divisi";
}



<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2>
                <i class="halflings-icon user"></i><span class="break"></span><i class="halflings-icon th-list"></i>
                @Html.ActionLink("Kembali", "Index")
            </h2>
            <div class="box-icon">
                <a href="#" class="btn-setting">
                    <i class="halflings-icon wrench"></i>
                </a>
                <a href="#" class="btn-minimize">
                    <i class="halflings-icon chevron-up"></i>
                </a>
                <a href="#" class="btn-close">
                    <i class="halflings-icon remove"></i>
                </a>
            </div>
        </div>
        <div class="box-content">
            <!-- <table class="table table-striped table-boardered bootstrap-datatable datatable">-->
            @using (Html.BeginForm("Edit", "Divisis", FormMethod.Post, new { @class = "form-horizontal" }))

            {
                <fieldset>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.DivisiID)

                    <div class="form-group">
                        @Html.LabelFor(model => model.NamaDivisi, htmlAttributes: new { @class = "control-label" })
                        <div class="controls">
                            @Html.EditorFor(model => model.NamaDivisi, new { htmlAttributes = new { @class = "span6 typeahead" } })
                            @Html.ValidationMessageFor(model => model.NamaDivisi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <div class="form-actions">

                        <button type="submit" class="btn btn-primary">
                            Update
                        </button>

                    </div>
                </fieldset>
            }

            <!--sampai sini-->

        </div>
    </div>
</div>
@*<h2>Edit</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Divisi</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.DivisiID)

            <div class="form-group">
                @Html.LabelFor(model => model.NamaDivisi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NamaDivisi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NamaDivisi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
*@
