﻿@{
    ViewBag.Title = "Latihan";
    Layout = "~/Views/Shared/Master_Layout.cshtml";
}

<!--@using (Html.BeginForm("Latihan", "Metro", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.Label("TextBoxNama", "Nama", new { @class = "control-label" })
    @Html.TextBox("TextBoxNama", "Nama", new { @class = "span6 typeahead" })

}


    @Html.ActionLink("Divisi", "Index","Divisis")
    -->

<div class="row-fluid sortable">

    <div class="box span12"> <!--membuat box--> 
        <div class="box-header" data-original-title> 
            <!--membuat box header dengan nama Form latihan dan dengan icon edit
            <i class="halflings-icon glyphicon-edit"></i><span class="break"></span>Form Latihan -->
            <h2>
                <i class="halflings-icon edit"></i><span class="break"></span>Form Latihan
            </h2>
            
            <div class="box-icon">
                <a href="#" class="btn-setting">
                    <i class="halflings-icon wrench"></i>
                </a>
                <a href="#" class="btn-minimize">
                    <i class="halflings-icon chevron-up"></i>
                </a>
                <a href="#" class="btn-close">
                    <i class="halflings-icon remove"></i>
                </a>
            </div>
        
        </div>

        <div class="box-content"><!--ini adalah akan box untuk isi content -->
            @using (Html.BeginForm("Latihan", "Metro", FormMethod.Post, new { @class = "form-horizontal" }))
 {

                <fieldset>
                    @ViewBag.Hasil
                    <div class="control-group">
                            @Html.Label("TextBoxNama", "Nama", new { @class = "control-label" })
                        
                        <div class="controls">
                            @Html.TextBox("TextBoxNama", string.Empty, new { @class = "span6 typeahead" })
                        </div>
                    </div>

                    <div class="control-group">
                        @Html.Label("TextBoxNama", "Alamat", new { @class = "control-label" })
                        <div class="controls">
                            <!--@Html.TextArea("TextAreaAlamat", string.Empty, new { @row="5",@class = "span6 typeahead" })-->
                            @Html.TextArea("TextAreaAlamat", string.Empty, new { @class = "cleditor" })
                            <!--text area dengan kondis text kosong dan bentuk seperti notepade-->
                        </div>
                    </div>
                    
                    <div class="control-group">
                        @Html.Label("TextBoxNama", "Propinsi", new { @class = "control-label" })
                        <!--label dengan nama propinsi-->
                        <div class="controls">
                            <!-- @Html.DropDownList("DropdownlistPropinsi", new SelectList(new List<Object>
                             {
                             new { value="KALSEL",text ="Kalimantan Selatan" },
                            new { value="JABAR",text ="Jawa Barat" }
                                                     },"value","text",2),"Pilih Propinsi")-->
                            <!--drop down dengan value dropdownlistpropinsi-- dengan list kalimantan...-->
                            @Html.DropDownList("DropdownlistPropinsi", new SelectList(new List<Object>
                              {
                                new { value="KALSEL",text ="Kalimantan Selatan" },
                                new { value="JABAR",text ="Jawa Barat" },
                                new { value="JABAR",text ="Jawa Tengah" },
                                new { value="JABAR",text ="Jawa Timur" }
                               }, 
                               "value", "text", 2), 
                               "Pilih Propinsi", new { @data_rel = "chosen" })
                        </div>
                    </div>
                    
                    <div class="control-group">
                        @Html.Label("RadioButtonKelamin", "Jenis Kelamin", new { @class = "control-label" })
                        
                        <div class="controls">
                            <label class="radio">
                                @Html.RadioButton("RadioButtonKelamin", "Laki-laki") Laki-laki
                                <!--radio button-->
                            </label>
                            <div style="clear:both"></div> 
                            <label class="radio">
                                @Html.RadioButton("RadioButtonKelamin", "Perempuan") Perempuan
                            </label>
                        
                        </div>
                    </div>
                    
                    <div class="control-group">
                        @Html.Label("TextBoxNama", "Pilih Bahasa", new { @class = "control-label" })
                        <div class="controls">
                            @Html.CheckBox("CeckBCSharp") C#
                            @Html.CheckBox("CeckBJava") Java
                            @Html.CheckBox("CeckBPhyton") Phyton
                        </div>
                    </div>
                    
                    <div class="control-group">
                        @Html.Label("TextBoxNama", "Pengalaman Kerja", new { @class = "control-label" })
                        <div class="controls">
                            @Html.ListBox("listBoxPekerjaan", new SelectList(new List<Object>{
                                new {value='1', text="Programmer"},
                                new {value='2', text="Analis Sistem"},
                                new {value='3', text="Administrator Database"},
                                new {value='4', text="Manajer Projek"},
                                    }, "value", "text", 2), new { @data_rel = "chosen" })
                        </div>
                    </div>
                    
                    
                    
                    <div class="controls">
                        <button type="submit" class="btn-primary">simpan</button>
                        <button type="reset" class="btn">Batal</button>
                    </div>

                </fieldset>
            }
        </div>


    </div>




</div>
