﻿<!--secara default ketika kita menambahkan new item web form hanya tampilan kosong 
    dengan nama form1 sesuai nama yang kita buat
     Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="ASPPERTAMAKU.WebForm1" 
    di jelaskan dengan bahasa c# dengan nama (codebehind)=nama yang kita buat, berada dalam project =nama project kita



    -->


<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="ASPPERTAMAKU.WebForm1" %>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    Nama : 
        <!--label dengan nama nama dan alamat
            text boxt dengan tnama dan talamat
            di bawah ada onclick untuk eksekusinya di atur di aspx.cs-->
    <asp:TextBox ID="TNama" runat="server"></asp:TextBox>
    <br/><br/>
    Alamat :
    <asp:TextBox ID="TAlamat" runat="server"></asp:TextBox>
    <br/><br/>
    <asp:label ID="Label_Hello" runat="server" text="Label"></asp:label>
        <br/>
    <asp:Button ID="Button_Kirim" runat="server" Text="Kirim" OnClick="Button_Click_Coy" />

        </div>
    </form>
</body>
</html>
